<html>
    <body>
        <div align ="center">
            <div align="center" class="border">
                <div class="headre">
                    <h1 class="word">register</h1>

                </div>
                <h2 class="word">
                    <form action="/register" method="POST">
                        <div class="msg">{{msg}}</div>
                        <input id="username" name="username" type="text" placeholder="Enter your username" class="textbox"/><br><br>
                    </form>
                </h2>
            </div>
        </div>
    </body>
</html>